---
title: "Engagement Insights for Beacon"
description: "In this topic, you will learn how Engagement Insights for Beacon allow you to understand viewer engagement and optimize your content strategy."
parent: "Reviewing Analytics"
layout: "staging"
---
<h1>{{ page.title }}</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>

  <section class="bcls-section">
    <h2 id="Introduction">Introduction</h2>
    <p>As a Brightcove Beacon customer you now can use Engagement Insights for Beacon. This product helps you understand how subscribers use your Beacon app and provides a baseline success rate for encouraging customers to keep coming back. Engagement Insights reveals the audience's interaction with your app, including detailed video consumption trends, average days streamed, and activity over time.</p>

    <!-- <p>QoE insights provide Brightcove customers with easy-to-understand correlations from QoE Metrics, potential business impacts, and recommended interventions. These insights are categorized as follows:</p>
    <ul>
      <li>
        <strong>QoE Tolerance</strong>:   
        <ul>
          <li>Help you understand when QoE metrics have an impact on user engagement</li>
        </ul>
      </li>
      <li>
        <strong>QoE Benchmarks</strong>: 
        <ul>
          <li>Provide a sense of how your QoE metrics compare with other customers</li>
        </ul>
      </li>
      <li>
        <strong>QoE Recommendations</strong>:
        <ul>
          <li>Suggest areas for improvement based on QoE Metric thresholds and a heat map of error codes.</li>
        </ul>
      </li>
    </ul>
    <p>QoE Insights incorporate:</p>
    <ul>
      <li>QOE Analytics</li>
      <li>Brightcove Analytics</li>
      <li>Audience Insights data</li>
    </ul> -->
    <!-- <p>For a list of QoE terms and definitions, see the <a href="#Glossary">Glossary</a> section.</p> -->

    <h3 id="Setup">Setup</h3>
    <p>Engagement Insights are available to Beacon customers for an additional charge. Contact your Brightcove OTT Delivery Team to enable your account.</p>
  </section>

  <section class="bcls-section">
    <h2 id="Navigation">Navigation</h2>
    <p>Once your account is enabled for Engagment Insights, do the following:</p>
    <ol class="bcls-tasklist">
      <li>
        <p>Login to <a href="https://insights.wicketlabs.com/login">Brightcove Audience Insights</a>.</p>
      </li>
      <li>
        <p>Here you will see three tabs related to Engagement Insights:</p>
        <ul>
          <li>Summary</li>
          <li>Engagement</li>
          <li>Content</li>
        </ul>
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt="Landing page" src="/assets/images/s-analytics-img/engagement-insights/landing-page.webp" />
          <figcaption class="bcls-caption--image">Landing page</figcaption> 
        </figure>
      </li>
    </ol>
  </section>

  {% include s-audience-insights/summary/customer-summary-engagement.html %}

  {% include s-audience-insights/summary/customer-summary-top-titles.html %}

  {% include s-audience-insights/summary/customer-summary-top-series-movies-genres.html %}

  {% include s-audience-insights/summary/customer-summary-hours-viewed-by-device.html %}

</article>