---
title: Reviewing Analytics
parent: Home
layout: staging
---
<h1><i  class="header-icon" data-feather="bar-chart-2"></i> Reviewing Analytics</h1>
<article class="bcls-article">
  <summary>Learn how to use video analytics to check the performance and engagement of your videos.</summary>
  <br/>
  <section class="bcls-section">
    <ul>
      {% for item in site.data.navigation %}
      {% if item.name == page.title %}
            {% for entry in item.docs %}
              <li><a href="{{ entry.url }}">{{ entry.name }}</a>
              {% if entry.docs %}
                <ul>
                  {% for subentry in entry.docs %}
                    <li><a href="{{ subentry.url }}">{{ subentry.name }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
              </li>
            {% endfor %}
      {% endif %}
    {% endfor %}
  </ul>
  </section>
</article>
