---
title: Reviewing Analytics
parent: Home
description: Learn how to use video analytics to check the performance and engagement of your videos.
---
<h1>Reviewing Analytics</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>
  <br/>
  <section class="bcls-section">
    <h2 id="Topics_in_this_section">Topics</h2>
      <section class="card-wrapper">
    {% for item in site.data.navigation %}
    {% if item.name == page.title %}
    {% for subsection in item.docs %}
    <section class="bcls-card-small" onclick="window.location.href='{{subsection.url}}'">
      <div class="card-content">
        <h2>{{ subsection.name }}</h2>
        <ul>
          {% for doc in subsection.docs %}
          <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </section>
    {% endfor %}
    {% endif %}
    {% endfor %}
  </section>
    <table width="100%" border="0">
      <tbody>
        <tr>
          <th width="50%" scope="col"> <h4>Using the Analytics Module</h4></th>
          <th width="1%" scope="col">&nbsp;</th>
          <th width="49%" scope="col"> <h4>Analytics Reports</h4></th>
        </tr>
        <tr>
          <td valign="top"><ul class="bcls-topic-list">
              <li><a href="/analytics/using/getting-started-analytics-module.html">Getting Started with the Analytics Module</a></li>
              <li><a href="/analytics/using/analytics-module-ui-glossary.html">Analytics Module UI Glossary</a></li>
              <li><a href="/analytics/using/how-search-videos-analytics-module.html">How to Search for Videos</a></li>
              <li><a href="/analytics/using/faq-analytics-module.html">FAQ: Analytics Module</a></li>
            </ul></td>
          <td>&nbsp;</td>
          <td valign="top"><ul class="bcls-topic-list">
              <li><a href="/analytics/analytics-report-reference.html">Analytics Report Reference</a></li>
              <li><a href="/analytics/creating-custom-analytics-reports.html">Creating Custom Analytics Reports</a></li>
              <li><a href="/analytics/engagement-report-reference.html">Engagement Report Reference</a></li>
              <li><a href="/analytics/managing-scheduled-reports.html">Managing Scheduled Reports</a></li>
              <li><a href="/analytics/performance-report-reference.html">Performance Report Reference</a></li>
            </ul></td>
        </tr>
      </tbody>
    </table>
    <table width="100%" border="0">
      <tbody>
        <tr>
          <th width="50%" scope="col"> <h4>General Information</h4></th>
          <th width="1%" scope="col">&nbsp;</th>
          <th width="49%" scope="col"> <h4>Third-Party Analytics</h4></th>
        </tr>
        <tr>
          <td valign="top"><ul class="bcls-topic-list">
              <li><a href="/analytics/analytics-business-metrics.html">Beacon Analytics Business Metrics</a></li>
              <li><a href="/analytics/calculating-video-engagement-score.html">Calculating Video Engagement Score</a></li>
              <li><a href="/analytics/exporting-data-analytics-module.html">Exporting Data</a></li>
            </ul></td>
          <td>&nbsp;</td>
          <td valign="top"><ul class="bcls-topic-list">
              <li><a href="/analytics/ga-self-configuration.html">Google Analytics Self Configuration</a></li>
              <li><a href="/analytics/reviewing-player-event-data-google-analytics.html">Reviewing Player Events in Google Analytics</a></li>
              <li><a href="/analytics/viewing-analytics-data-google.html">Viewing Analytics Data</a></li>
            </ul></td>
        </tr>
      </tbody>
    </table>
  </section>
</article>
