[submodule "_includes/s-social"]
	path = _includes/s-social
	url = https://github.com/BrightcoveLearning/s-social
	branch = main
[submodule "assets/images/s-social-img"]
	path = assets/images/s-social-img
	url = https://github.com/BrightcoveLearning/s-social-img
	branch = main
[submodule "_includes/s-ott-plugins"]
	path = _includes/s-ott-plugins
	url = https://github.com/BrightcoveLearning/s-ott-plugins
	branch=main
[submodule "assets/images/s-ott-plugins-img"]
	path = assets/images/s-ott-plugins-img
	url = https://github.com/BrightcoveLearning/s-ott-plugins-img
	branch = main
