[submodule "_includes/s-social"]
	path = _includes/s-social
	url = https://github.com/BrightcoveLearning/s-social
	branch = main
[submodule "assets/images/s-social-img"]
	path = assets/images/s-social-img
	url = https://github.com/BrightcoveLearning/s-social-img
	branch = main
