---
title: "Refreshing the App Cache"
description: "In this topic, you will learn how to refresh the app cache so you can see changes you have made as soon as possible."
parent: "Layout"
layout: "staging"
---
<h1>{{ page.title }}</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>

  <section class="bcls-section">
    <h2 id="Introduction">Introduction</h2>
    <p>When you are making changes to you Brightcove Beacon app you will often want to see those changes as soon as possible. To speed up the process you can refresh the app cache. This will reduce the time before your changes appear in your apps.</p>
  </section>

  <section class="bcls-section">
    <h2 id="Using_the_refresh_cache_button">Using the refresh cache button</h2>
    <p></p>
  </section>
</article>