---
title: "Creating Linked Pages"
description: "In this topic, you will learn how to create a linked page which will display all the videos in a carousel on a separate page. "
parent: "Managing Pages"
layout: "staging"
---
<h1>{{ page.title }}</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>

  <section class="bcls-section">
    <h2 id="Introduction">Introduction</h2>
    <p>If you have a page with a carousel that contains a playlist of more than 25 videos you can create a <em>linked page</em> that will automatically be shown in lieu of the very wide carousel. Normally you would want the large number of videos display in a format, like a grid, where the viewer doesn't have to scroll and scroll to see all the videos.</p>
    <p>Note that a linked page can only be defined for a page that displays videos in a carousel. The single exception to this statement is a linked page cannot be created when the <em>Hero (Authplay Channel)</em> is the layout selected for the page from which you wish to link.</p>
  </section>

  <section class="bcls-section">
    <h2 id="Creating_a_linked_page">Creating a linked page</h2>
    <p>The following are the steps required to create a linked list:</p>
    <ol class="bcls-tasklist">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ol>
  </section>

</article>


For any content-based page layout that has content displayed in a carousel (except the Auto Play layout), open the "options menu" for the playlist that you'd like to use for the attached linked page and click "more layout options"
At the bottom of the "more layout options modal", there should be a "Linked page" control with a button to add (or remove) a linked page. Click the add button to attach a linked page to this playlist.
Select a layout for the new linked page and click "Create"
Add playlist content to the linked page and then publish the linked page when you're ready
The linked page will show up in the Beacon app if the playlist with the attached linked page has enough content (in practice this is about 25 videos I think, but might be configurable on an account level)
In the Studio module, you'll see a linked page indicator below any playlist that has a linked page attached