---
title: "Managing Linked Pages"
description: "In this topic, you will learn how to create, delete and edit a linked page which will display all the videos in a carousel on a separate page. "
parent: "Managing Pages"
layout: "staging"
---
<h1>{{ page.title }}</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>

  <section class="bcls-section">
    <h2 id="Introduction">Introduction</h2>
    <p>If you have a page with a carousel that contains a playlist of more than 25 videos you can create a <em>linked page</em> that will automatically be shown in lieu of the very wide carousel. Normally you would want the large number of videos display in a format, like a grid, where the viewer doesn't have to scroll and scroll to see all the videos.</p>
    <p>Note that a linked page can only be defined for a page that displays videos in a carousel. The single exception to this statement is a linked page cannot be created when the <em>Hero (Autoplay Channel)</em> is the layout selected for the page from which you wish to link.</p>
  </section>

  <section class="bcls-section">
    <h2 id="Creating_a_linked_page">Creating a linked page</h2>
    <p>The following are the steps required to create a linked page:</p>
    <ol class="bcls-tasklist">
      <li>In the <strong>Layout</strong> module navigate to the properties of a page that contains a carousel.</li>
      <li>To the right of the playlist whose contents you wish to display in a linked page, click the elipses (...).</li>
      <li>In the playlist settings dialog which opens, click <span class="button-blue">More layout options</span>.
        <figure class="bcls-figure">
          <img class="bcls-image" src="/assets/images/layout/creating-linked-pages/more-layout-options.png" alt="more layout options">
        </figure>
      </li>
      <li>In the playlist layout dialog which opens, to the right of <strong>Linked page</strong>, click <span class="button-blue-text"><i class="button-icon" data-feather="plus"></i>Add</span>.
        <figure class="bcls-figure">
          <img class="bcls-image" src="/assets/images/layout/creating-linked-pages/add-linked-page.png" alt="add linked page">
        </figure>
      </li>
      <li>Choose the layout for the linked page.
        <figure class="bcls-figure">
          <img class="bcls-image" src="/assets/images/layout/creating-linked-pages/linked-page-layout.png" alt="linked page layout">
        </figure>
      </li>
      <li>Click <span class="button-blue">Save</span>.</li>
      <li>Click <span class="button-blue">Publish</span> and confirm your action in the dialog that appears.</li>
      <li>Return to your page's properties.</li>
      <li>You will be returned to the page properties page. Check to be sure you can see the <strong>Linked page</strong> indicator (highlighted).
        <figure class="bcls-figure">
          <img class="bcls-image" src="/assets/images/layout/creating-linked-pages/see-linked-page.png" alt="see linked page">
        </figure>
      </li>
    </ol>
  </section>




</article>


For any content-based page layout that has content displayed in a carousel (except the Auto Play layout), open the "options menu" for the playlist that you'd like to use for the attached linked page and click "more layout options"
At the bottom of the "more layout options modal", there should be a "Linked page" control with a button to add (or remove) a linked page. Click the add button to attach a linked page to this playlist.
Select a layout for the new linked page and click "Create"
Add playlist content to the linked page and then publish the linked page when you're ready
The linked page will show up in the Beacon app if the playlist with the attached linked page has enough content (in practice this is about 25 videos I think, but might be configurable on an account level)
In the Studio module, you'll see a linked page indicator below any playlist that has a linked page attached

to edit a linked page ...