---
title: "Using Core Pages"
description: "In this topic, you will learn how to use and configure Brightcove Beacon core pages."
parent: "Managing Pages"
---
<h1>{{ page.title }}</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>

  <section class="bcls-section">
    <h2 id="Introduction">Introduction</h2>
    <p>Core pages provide you with options you wish to provide your viewers. You can </p>
    <table class="bcls-table">
      <thead class="bcls-table__head">
        <tr>
          <th>Name</th>
          <th>Function</th>
          <th>Configurable</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody class="bcls-table__body">
        <tr>
          <td>Downloads</td>
          <td>Displays downloaded videos</td>
          <td>Availability only</td>
          <td>Only available for mobile and tablet devices</td>
        </tr>
        <tr>
          <td>Exit</td>
          <td>Provides functionality for viewers to log out of the app</td>
          <td>Availability only</td>
          <td>Non-web platforms only</td>
        </tr>
        <tr>
          <td>Favorites</td>
          <td>Displays videos viewer has marked as a favorite</td>
          <td><a href="#Favorites">Yes</a></td>
          <td></td>
        </tr>
        <tr>
          <td>Live TV (same as EPG??????)</td>
          <td>Displays a live tv channel</td>
          <td>Availability only</td>
          <td></td>
        </tr>
        <tr>
          <td>Login</td>
          <td>Provides functionality for viewers to log into the app</td>
          <td><a href="Login">Yes</a></td>
          <td></td>
        </tr>
        <tr>
          <td>Logout</td>
          <td>Provides functionality for viewers to log out of the app</td>
          <td>Availability only</td>
          <td></td>
        </tr>
        <tr>
          <td>My List</td>
          <td>Displays <em>Recently Watched</em>, <em>Purchases</em> and <em>Favorites</em> on a single page</td>
          <td><a href="#My_List">Yes</a></td>
          <td>Buttons let viewers choose which group of videos to display</td>
        </tr>
        <tr>
          <td>Program Guide</td>
          <td>Displays your Electronic Program Guide (EPG)</td>
          <td><a href="#Program_Guide">Yes</a></td>
          <td></td>
        </tr>
        <tr>
          <td>Purchases</td>
          <td>Displays purchased videos</td>
          <td><a href="#Purchases">Yes</a></td>
          <td></td>
        </tr>
        <tr>
          <td>Recently Watched</td>
          <td>Displays videos that have been recently watched</td>
          <td><a href="#Recently_Watched">Yes</a></td>
          <td></td>
        </tr>
        <tr>
          <td>Search</td>
          <td>Provides functionality for viewers to search for specific videos</td>
          <td><a href="#Search">Yes</a></td>
          <td></td>
        </tr>
        <tr>
          <td>Settings</td>
          <td>Provides functionality for viewers to configure, and view information about, the app</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Sign in</td>
          <td>Provides functionality for viewers to sign into the Brightcove Beacon App</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Sign up</td>
          <td>Provides functionality for viewers to register for Brightcove Beacon App</td>
          <td>Availability only</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="bcls-section">
    <h2 id="Favorites">Favorites</h2>
    <p>When configuring the <em>Favorites</em> core page the first decision to make is if you want all videos marked as a favorite organized by asset type. If yes, the asset types will be listed across the top of the favorites as clickable links to show only a specific asset type. If no, all the favorites will be grouped together. The following screenshots show first the organized by asset type layout and then the not grouped layout.</p>
    <figure class="bcls-figure">
      <img class="bcls-image" src="/assets/images/layout/using-core-pages/favorites-by-asset-type.png" alt="favorites by asset type">
    </figure>
    <figure class="bcls-figure">
      <img class="bcls-image" src="/assets/images/layout/using-core-pages/favorites-not-organized.png" alt="favorites not grouped">
    </figure>
    <p>Other configuration options are:</p>
    <ul>
      <li>If you choose to organize by asset type, you can then set for each type if the thumbnails shown should be shown as landscape or portrait <strong>and</strong> if the video title should be displayed.</li>
      <li>If you do not group, you still have those display configuration options, but all thumbnails will follow the selected configuration.</li>
      <li>If you choose the portrait thumbnails you can also choose if the title position, if displayed, should be inside or outside the thumbnail.</li>
      <li>As with all core pages, you can also configure the <em>Favorites</em> page's availability.</li>
    </ul>
  </section>

  <section class="bcls-section">
    <h2 id="Login">Login</h2>
    <p>For the <em>Login</em> page you choose if the viewers should see, or not see, a link to the sign in flow on the login page. </p>
    <figure class="bcls-figure">
      <img class="bcls-image" src="/assets/images/layout/using-core-pages/login.png" alt="login">
    </figure>
  </section>


  <section class="bcls-section">
    <h2 id="My_List">My List</h2>
    <p>The <em>My List</em> page provides the viewer with a single page from which they can select to see <em>Recently Watched</em>, <em>Purchases</em> or <em>Favorites</em> videos. Within the <em>My List</em> page configuration each grouping of videos is configurable as described in this section.</p>
    <figure class="bcls-figure">
      <img class="bcls-image" src="/assets/images/layout/using-core-pages/my-list.png" alt="my list">
    </figure>
  </section>

  <section class="bcls-section">
    <h2 id="Program_Guide">Program Guide</h2>
    <p>The <em>Program Guide</em> page displays your live TV schedule. You can configure the following:</p>
    <ul>
      <li>Genres display</li>
      <li>Number of days forward to display: <em>5</em> or <em>10</em></li>
      <li>Number of days backward to display: <em>0</em> or <em>5</em></li>
    </ul>
    <figure class="bcls-figure">
      <img class="bcls-image" src="/assets/images/layout/using-core-pages/program-guide.png" alt="program guide">
    </figure>
  </section>


  <section class="bcls-section">
    <h2 id="Purchases">Purchases</h2>
    <p>When configuring the <em>Purchases</em> core page the first decision to make is if you want all videos purchases organized by asset type. If yes, the asset types will be listed across the top of the purchases as clickable links to show only a specific asset type. If no, all the purchases will be grouped together. The following screenshots show first the organized by asset type layout and then the not grouped layout.</p>
    <figure class="bcls-figure">
      <img class="bcls-image" src="/assets/images/layout/using-core-pages/purchases-by-asset-type.png" alt="purchases by asset type">
    </figure>
    <figure class="bcls-figure">
      <img class="bcls-image" src="/assets/images/layout/using-core-pages/purchases-not-organized.png" alt="purchases not grouped">
    </figure>
    <p>Other configuration options are:</p>
    <ul>
      <li>If you choose to organize by asset type, you can then set for each type if the thumbnails shown should be shown as landscape or portrait <strong>and</strong> if the video title should be displayed.</li>
      <li>If you do not group, you still have those display configuration options, but all thumbnails will follow the selected configuration.</li>
      <li>If you choose the portrait thumbnails you can also choose if the title position, if displayed, should be inside or outside the thumbnail.</li>
      <li>As with all core pages, you can also configure the <em>Purchases</em> page's availability.</li>
    </ul>
  </section>

  <section class="bcls-section">
    <h2 id="Recently_Watched">Recently Watched</h2>
    <p>When configuring the <em>Recently Watched</em> core page the first decision to make is if you want all videos that match recently watched criteria by asset type. If yes, the asset types will be listed across the top of the recently watched as clickable links to show only a specific asset type. If no, all recently watched videos will be grouped together. The following screenshots show first the organized by asset type layout and then the not grouped layout.</p>
    <figure class="bcls-figure">
      <img class="bcls-image" src="/assets/images/layout/using-core-pages/recently-by-asset-type.png" alt="recently watched by asset type">
    </figure>
    <figure class="bcls-figure">
      <img class="bcls-image" src="/assets/images/layout/using-core-pages/recently-not-organized.png" alt="recently watched not grouped">
    </figure>
    <p>Other configuration options are:</p>
    <ul>
      <li>If you choose to organize by asset type, you can then set for each type if the thumbnails shown should be shown as landscape or portrait <strong>and</strong> if the video title should be displayed.</li>
      <li>If you do not group, you still have those display configuration options, but all thumbnails will follow the selected configuration.</li>
      <li>If you choose the portrait thumbnails you can also choose if the title position, if displayed, should be inside or outside the thumbnail.</li>
      <li>As with all core pages, you can also configure the <em>Recently Watched</em> page's availability.</li>
    </ul>
  </section>

  <section class="bcls-section">
    <h2 id="Search">Search</h2>
    <p></p>
    <figure class="bcls-figure">
      <img class="bcls-image" src="/assets/images/layout/using-core-pages/search-by-asset-type.png" alt="search by asset type">
    </figure>
    <figure class="bcls-figure">
      <img class="bcls-image" src="/assets/images/layout/using-core-pages/search-not-organized.png" alt="search not grouped">
    </figure>
  </section>


</article>