---
title: "Using Core Pages"
description: "In this topic, you will learn how to use and configure Brightcove Beacon core pages."
parent: "Managing Pages"
---
<h1>{{ page.title }}</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>

  <section class="bcls-section">
    <h2 id="Introduction">Introduction</h2>
    <p></p>
    <table class="bcls-table">
      <thead class="bcls-table__head">
        <tr>
          <th>Name</th>
          <th>Function</th>
        </tr>
      </thead>
      <tbody class="bcls-table__body">
        <tr>
          <td>Favorites</td>
          <td>Display videos viewer has marked as a favorite</td>
        </tr>
        <tr>
          <td>Live TV</td>
          <td>Display a live tv channel</td>
        </tr>
        <tr>
          <td>Recently Watched</td>
          <td>Display videos that have been recently watched</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </section>
</article>