---
title: Using Cloud Playout
parent: Home
description: Cloud Playout allows you to compile and schedule a combination of videos-on-demand and live feeds as a live linear channel.
icon: '<img src="/assets/images/feather/cloud-lightning.svg" alt="cloud playout">'
layout: staging
---

<article class="bcls-article">
  <h1>{{ page.icon }} {{ page.title }}</h1>
  <summary>{{ page.description }}</summary>
  <h2>Topics</h2>
  <section class="card-wrapper">
    {% for item in site.data.navigation %}
      {% if item.name == page.title %}
        <ul>
          <li><a href="{{ item.url }}">{{ item.name }}</a></li>
        </ul>
      {% endif %}
    {% endfor %}
  </section>
</article>