---
title: 'How To: Archive Pages'
parent: howto
layout: howto
---
<h1>How To: Archive Pages</h1>
<article class="bcls-article">
  <section class="bcls-section">
    <p>Archiving a page will unpublish it and remove it from the application. Pages that are archived can be deleted. To archive a page, follow these steps:</p>
    <ol class="bcls-tasklist-restart">
      <li>Open the <strong>Layout</strong> module.</li>
      <li>In the side navigation panel, click on a page.</li>
      <li>Click<strong> Archive Page</strong>.</li>
    </ol>
    <p>To view all archived pages, click the <strong>Archived Pages</strong> link at the bottom of the page.</p>
    <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/layout/howto/archived-pages.png" /></figure>
    <p>To restore a page that has been archived, click <strong>Restore</strong> next to the page name. To permanently delete the page, click <strong>Delete</strong>.</p>
    <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/layout/howto/archived-page-restore.png" /></figure>
  </section>
  <section class="bcls-section">
    <h3>Related</h3>
    <ul>
      <li><a href="https://beacon-la.support.brightcove.com/pages/creating-managing-pages.html" target="_blank">Creating and Managing Pages<i data-feather="external-link"></i></a></li>
    </ul>
  </section>
</article>