---
layout: null
---


@import url(https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500&display=swap);

@font-face {
  font-family: Balto Web;
  src: url(https://files.brightcove.com/fonts/balto/baltoweb-ultra.eot);
  font-weight: 900;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Balto Web;
  src: url(https://files.brightcove.com/fonts/balto/baltoweb-ultra.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Balto Web;
  src: url(https://files.brightcove.com/fonts/balto/baltoweb-super.eot);
  font-weight: 800;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Balto Web;
  src: url(https://files.brightcove.com/fonts/balto/baltoweb-super.woff) format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Balto Web;
  src: url(https://files.brightcove.com/fonts/balto/baltoweb-black.eot);
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Balto Web;
  src: url(https://files.brightcove.com/fonts/balto/baltoweb-black.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Balto Web;
  src: url(https://files.brightcove.com/fonts/balto/baltoweb-bold.eot);
  font-weight: 600;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Balto Web;
  src: url(https://files.brightcove.com/fonts/balto/baltoweb-bold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Balto Web;
  src: url(https://files.brightcove.com/fonts/balto/baltoweb-medium.eot);
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Balto Web;
  src: url(https://files.brightcove.com/fonts/balto/baltoweb-medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap
}


/* site styles */
body, .body {
  font-family: 'Public Sans', Helvetica, sans-serif;
  font-size: 16px;
  counter-reset: figure 0 table 0 step 0;
  background-color: white;
  color: rgb(68, 68, 68);
}

body {
  counter-reset: figure 0 table 0 step 0;
  margin: 0;
  position: relative;
}


/* css specific to the site */

.bcls-active {
  border-left: 3px {{ site.product_color }} solid;
}

h1 {
  margin-top: .5rem;
}

h1 i.fal, h1 i.fab, h1 i.fas, h1 i.far {
  font-size: 3rem;
  color:{{site.product_color}};
  margin-right: 1rem;
}
.card-icon i {
  color: {{site.product_color}};
}

/* for phones and embedded pages */
@media screen and (max-width: 1000px) {
  h1 {
    font-size: 2.2em;
    margin-left: 1rem;
  }
  h2 {
    font-size: 1.9em;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.3em;
  }
  h5 {
    font-size: 1.1em;
  }
  p, a {
    margin-left: 1.1rem;
  }

  a, a::visited, a::hover {
    color:rgb(7, 33, 144)!important;
  }

  .bcls-section {
    margin-top: 2.5em;
    padding-top: .5em;
    /* border-top: 1px #CCC solid; */
  }
  
  


.external-link-icon {
  margin-left:.5rem;
  width:1.3rem;
  vertical-align:text-top
}

#back_button {
  position: absolute;
  top: 5px;
  left: -1rem;
  margin-left: 1rem;
  cursor: pointer;
}

#forward_button {
  float: right;
  margin-right: 1rem;
  cursor: pointer;
}
#breadcrumbs {
  /* position: fixed;
  top: 3rem; */
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  width: 80%;
}

#breadcrumbs > ol {
  background-color: white;
  color: #333;
  z-index: 9999;
}

#more_resources {
  display: none;
  font-size: smaller;
}
#more_resources img {
  height: 1rem;
}
#more_resources h2 {
  font-size: small;
  margin: 0;
}

a {
  color: rgb(7, 33, 144);
  text-decoration: none;
  background-color: transparent
}


a, a::visited, a::hover {
  color:rgb(7, 33, 144)!important;
}
.bcls-section a, .bcls-section a::visited, .bcls-section a::hover {
  color:rgb(7, 33, 144)!important;
}

footer, footer a {
  text-align: center;
  padding: .5rem;
  color: whitesmoke;
  font-size: smaller;
}



/* details */

*,
::before,
::after {
  box-sizing: border-box;
}


details {
  margin: 1rem auto;
  padding: 0 1rem;
  width: 100%;
  max-width: calc(100% - 2rem);
  position: relative;
  border: 1px solid #78909C;
  border-radius: 6px;
  background-color: #fff;
  /* color: #263238; */
  transition: background-color .15s;
  
  > :last-child {
    margin-bottom: 1rem;
  }
  
  &::before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    opacity: .15;
    box-shadow: 0 .25em .5em #263238;
    pointer-events: none;
    transition: opacity .2s;
    z-index: -1;
  }
  
  &[open] {
    background-color: whitesmoke;
    
    &::before {
      opacity: .6;
    }
  }
}

details>summary {
  /* border: none;
  border: 0 #f5f5f5 solid; */
  padding: .5rem .5em .5rem 0;
  display: block;
  position: relative;
  font-size: 1.33em;
  font-weight: bold;
  cursor: pointer;
  
  &::before,
  &::after {
    width: .75em;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 0;
    content: '';
    background-color: currentColor;
    text-align: right;
    transform: translateY(-50%);
    transition: transform .2s ease-in-out;
  }

  details h2 {
    margin-top: 0;
    padding-top: 0;
    font-size: 1.1rem;
  }

  details section.bcls-section {
    border: none;
    margin-top: -1rem;
    padding-top: 0;
  }
  
  &::after {
    transform: translateY(-50%) rotate(90deg);
    
    [open] & {
      transform: translateY(-50%) rotate(180deg);
    }
  }
  
  &::-webkit-details-marker {
    display: none;
  }
}

/* p {
  margin: 0 0 1em;
  line-height: 1.5;
}

ul {
  margin: 0 0 1em;
  padding: 0 0 0 1em;
}

li:not(:last-child) {
  margin-bottom: 0.5em;
}

code {
  padding: 0.2em;
  border-radius: 3px;
  background-color: #E0E0E0;
  
  pre > & {
    display: block;
    padding: 1em;
    margin: 0;
  }
} */

