---
title: Managing Media
parent: Media
grandparent: Learn the Basics
---
<article class="bcls-article">
  <h1>How To: Manage Media</h1>
  <summary>Learn the basic skills needed to manage the videos, series and seasons in your account.</summary>
  <section>
    <h2 id="Topics_in_this_section">Topics</h2>
    <ul>
      {% for item in site.data.navigation %}
      {% if item.name == page.title %}
      {% for entry in item.docs %}
      <li><a href="{{ entry.url }}">{{ entry.name }}</a> {% if entry.docs %}
        <ul>
          {% for subentry in entry.docs %}
          <li><a href="{{ subentry.url }}">{{ subentry.name }}</a></li>
          {% endfor %}
        </ul>
        {% endif %} </li>
      {% endfor %}
      {% endif %}
      {% endfor %}
    </ul>
  </section>
</article>
