---
title: 'How To: Configure Device Availability'
parent: Layout
grandparent: Learn the Basics
layout: howto
---
<h1>How To: Configure Device Availability</h1>
<article class="bcls-article">
  <section class="bcls-section">
    <p>Pages can be configured to appear on only certain devices. To configure the permitted/denied devices for a page, follow these steps</p>
    <aside class="bcls-aside bcls-aside--information language-editable">When you make changes to the settings a circle with an arrow inside it animates to indicate your changes are automatically saved.</aside>
    <ol class="bcls-tasklist-restart">
      <li>Open the <strong>Layout</strong> module.</li>
      <li>In the side navigation panel, hover over the page for which you wish to configure permitted/denied devices and click <img class="ui-image" alt="settings icon" src="/assets/images/common/gear-blue.png" />.</li>
      <li>In the <strong>Page Settings</strong> dialog, click <strong>Availability</strong>.</li>
      <li>In the far right of the <strong>Device restrictions</strong> row, click the toggle button.</li>
      <li>Check the boxes to allow viewing of a page from the group or individual device.</li>
    </ol>
    <aside class="bcls-aside bcls-aside--information language-editable">You can also change the permitted/denied devices by clicking on the page, then in <strong>Page Settings</strong> click <strong>Devices</strong> in the <strong>Availability</strong> section.</aside>
  </section>
  <section class="bcls-section">
    <h3>Related</h3>
    <ul>
      <li><a href="/basics/layout/availability-date.html">How To: Configure the Page Schedule</a></li>
      <li><a href="/basics/layout/availability-location.html">How To: Configure Location Availability</a></li>
      <li><a href="/layout/configuring-page-availability.html">Configuring Page Availability</a></li>
    </ul>
  </section>
</article>