---
title: "How To: Manage Pages"
description: "Learn the basic skills needed to create and manage pages using Beacon Studio."
parent: Layout
grandparent: Learn the Basics
---
<h1>{{ page.title }}</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>

  <section class="bcls-section">
    <ul>
      <li><a href="/basics/layout/archiving-pages.html">Archive a Page</a></li>
      <li><a href="/basics/layout/availability-date.html">Configure the Page Schedule</a></li>
      <li><a href="/basics/layout/availability-device.html">Configure Device Availability</a></li>
      <li><a href="/basics/layout/availability-location.html">Configure Location Availability</a></li>
      <li><a href="/basics/layout/creating-page.html">Create a Page</a><a href="/media/creating-page-for-demo.html"></a></li>
      <li><a href="/layout/howto/tv-series-demo.html">Alter a Playlist Layout</a></li>
    </ul>
  </section>
  <section class="bcls-section">
    <h3>Related</h3>
    <ul>
      <li><a href="https://beacon-la.support.brightcove.com/pages/index.html">Managing Pages</a></li>
    </ul>
  </section>
</article>